<!-- partials/nav.ejs -->
<nav class="menu">
    <a class="menu-item" href="/transportation">Transportation</a>
    <a class="menu-item" href="/contact">Contact</a>
  </nav>
  <div id="menu-button">Menu</div>